html, body {
	background: #000;
	margin: 0;
	padding: 0;
	height: 100%;
}

::selection {
    background: #00F;
    color: #FFF;
	
}
::-moz-selection {
    background: #00F;
    color: #FFF;
}

#leftcolumn {
	width: 4%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0;
	float: left;
	position: fixed;
	background-color: #FFF;
	background: url("../img/bar2.png");
	background-repeat: repeat-y;
	background-size: cover;
	z-index: 3;
	-moz-animation: movy 360s linear infinite; /* Firefox */
	-webkit-animation: movy 360s linear infinite; /* Safari and Chrome */
	-o-animation: movy 360s linear infinite; /* Opera */
	-ms-animation: movy 360s linear infinite; /* IE 10 */
	animation: movy 360s linear infinite;
}

@media only screen and (max-width: 800px) {
	#leftcolumn {
		width: 9%;
		}
}

@-moz-keyframes movy /* Firefox */
{
	0% {background-position: 0px 0px; }
	100% {background-position: 0px -21000px;}
}
 
@-webkit-keyframes movy /* Safari and Chrome */
{
	0% {background-position: 0px 0px; }
	100% {background-position: 0px -21000px;}
}
 
@-o-keyframes movy /* Opera */
{
	0% {background-position: 0px 0px; }
	100% {background-position: 0px -21000px;}
} 
 
@-ms-keyframes movy /* IE 10 */
{
	0% {background-position: 0px 0px; }
	100% {background-position: 0px -21000px;}
} 
 
@keyframes movy
{
	0% {background-position: 0px 0px; }
	100% {background-position: 0px -21000px;}
}	

#logo_rund, #logo_rund_hover {
	position: fixed;
    top: 6.5vw;
    left: 10%;
    width: 12.5vw;
    height: 12.5vw;
    margin: 0;
}

@media only screen and (max-width: 800px) {
	#logo_rund, #logo_rund_hover {
		top: 3.5vw;
    	left: 17.5%;
		width: 19.5vw;
    	height: 19.5vw;
		
		}
}

#logo_rund {
	z-index: 1;
}

#logo_rund_hover {
	display: none;
	z-index: 2;
}

#logo:hover #logo_rund_hover {
	display: block;
}

.contentbox_bureau {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-width: 96%;
	width: 96%;
	float: none;
	margin: 0 0 0 4%;
}

@media only screen and (max-width: 800px) {
	.contentbox_bureau {
		min-width: 93%;
		width: 93%;
		margin: 0 0 0 7%;
		}
}

.line {
	height: 2px;
	width: 100%;
	min-width: 100%;
	background-color: #D1D1D1;
	float: left;
	position: relative;
	margin-top: 50px
}
	
.portrait {
	width: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

.portrait img {
	width: 100%;
	min-width: 100%;
}

.content_bigtext, .content_text, .column_text, .nocolumn_text {
	font-family: "Geist", sans-serif;
	float: left;
	font-weight: 500
}

.content_bigtext {
	font-size: 17.5vw;
	line-height: 17.5vw;
	letter-spacing:-27px;
	color: #7C7A68;
	justify-content: center;
	display: flex;
	padding: 11vw 0 0.5vw 0;
	margin: 0 0 0 0;
	width: 100%;
	font-weight: 500
}

.content_text {
	font-size: 2.75vw;
	line-height: 3.3vw;
	color: #D1D1D1;
	text-align: center;
	padding: 1% 1.5% 1% 1.5%;
	width: 98%;
}

@media only screen and (max-width: 800px) {
	.content_text {
		font-size: 4.75vw;
		line-height: 5.7vw;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		padding: 2% 3% 2% 3%;
		width: 94%;
		}
}

.column_text, .nocolumn_text {
	font-size: 2vw;
	line-height: 2.4vw;
	text-align: center;
	color: #D1D1D1;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	padding: 0 1.5% 1.5% 1.5%;
	width: 97%;
}

@media only screen and (max-width: 800px) {
	.column_text, .nocolumn_text {
		font-size: 3.5vw;
		line-height: 4.2vw;
		padding: 0 3% 3% 3%;
		width: 94%;
		text-align: center
		}
}

.column_text {
	column-count: 2;
    column-gap: 1.5%;
	text-indent: 0%;
	text-align: center
}

@media only screen and (max-width: 800px) {
	.column_text {
		column-count: 1;
		}
}

.nocolumn_text {
	text-indent: 5%;
}

.space {
	width: 94%;
	margin: 0 0 4vw 0;
	float: left;
}

p, ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

.headline {
	font-style: italic;
}

.contentbox_bureau a {
	cursor: url(../img/cursor2.ico) 16 16, pointer;
	}

a:link, a:visited {
	text-decoration: none;
	color: #FFF;
	}
	
a:hover, a:active  {
	text-decoration: underline;
	color: #FFF;
	}

.content_wrapper3, .content_wrapper2, .content_wrapper1 {
	padding: 0;
	min-height: 100%;
	height: 100%;
	width: 100%;
	float: left;
    position: relative;
}

.content_wrapper3 {
	overflow: hidden;
}

@media only screen and (max-width: 800px) {
	.content_wrapper3 {
		overflow: auto;
		}
}
.content_wrapper2, .content_wrapper1 {
    right: 33.3%;
	border-right: solid #FFF 1px;
}

@media only screen and (max-width: 800px) {
	.content_wrapper2, .content_wrapper1 {
		right: 0%;
		border-right: 0px;
		}
}

.content3-1, .content3-2, .content3-3 {
	font-family: Helvetica, Arial, sans-serif;
	color: #FFF;
	font-size: 2vw;
	line-height: 2.4vw;
	letter-spacing: 0px;
	text-align: center;
	float: left;
	position: relative;
	min-height: 100%;
	height: 100%;
	width: 30.3%;
	left: 66.6%;
	padding: 1% 1.5% 1.5% 1.5%;
}

@media only screen and (max-width: 800px) {
	.content3-1, .content3-2, .content3-3 {
		font-size: 3.5vw;
		line-height: 4.2vw;
		padding: 2% 3% 3% 3%;
		width: 94%;
		left: 0;
		text-align: center
		}
}

@media only screen and (max-width: 800px) {
	.content3-1, .content3-2 {
		border-bottom: solid #FFF 1px;
		}
}

.flashingpoint, .icon {
	padding: 0 0.25vw 0 0;
	width: 1.5vw;
	height: 1.5vw;
}

.flashingpoint {
	-moz-animation: flash 2s 2s infinite; /* Firefox */
	-webkit-animation: flash 2s 2s infinite; /* Safari and Chrome */
	-o-animation: flash 2s 2s infinite; /* Opera */
	-ms-animation: flash 2s 2s infinite; /* IE 10 */
	animation: flash 2s infinite;
}

@-moz-keyframes flash {
    0% {opacity: 0;}
  	50% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes flash {
    0% {opacity: 0;}
  	50% {opacity: 1;}
    100% {opacity: 0;}
}

@-o-keyframes flash {
    0% {opacity: 0;}
  	50% {opacity: 1;}
    100% {opacity: 0;}
}

@-ms-keyframes flash {
    0% {opacity: 0;}
  	50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes flash {
    0% {opacity: 0;}
  	50% {opacity: 1;}
    100% {opacity: 0;}
}

@media only screen and (max-width: 800px) {
	.flashingpoint, .icon {
		width: 2.75vw;
		height: 2.75vw;
	}
}

.hide, .hidepic {
	display: none;
}

.hidepic {
	width: 5vw;
	float: none;
	position: absolute;
	margin:0;
	bottom: 2vw;
    left: 22.5vw;
	z-index: -1;
}

.content3-1:hover .hide, .content3-1:hover .hidepic {
	display: block;
}

@media only screen and (max-width: 800px) {
	.content3-1:hover .hide, .content3-1:hover .hidepic {
		display: none;
		}
}

.clearfix { 
	clear: both;
}